@model IEnumerable<BugTrackerVS_16.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @Html.ActionLink("Create New", "Create") 
        </div>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayName("Members")
            </th>
        }
        
        <th>
            @Html.DisplayName("Action")
        </th>

    </tr>

@foreach (var item in Model)
{

    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                foreach (var users in item.Users)
                {
                    <p>@users.FirstName</p>
                }
            }

       </td>
        
        <td>
                @*else if (!User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                {
                    @Html.ActionLink("Tickets", "Index", "Tickets")
                }*@

@if (User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Tickets", "IndexProject", "Tickets")|
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id })|
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
        @Html.ActionLink("Assign User", "assignusers", new { id = item.Id })
    </div>
}
//Project Manager View for all project they assigned to 
else if (User.IsInRole("ProjectManager"))
{
    <div>
        @Html.ActionLink("Tickets", "IndexProject", "Tickets")|
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id })|
        @Html.ActionLink("Assign User", "assignusers", new { id = item.Id })
    </div>
}
else if (User.IsInRole("Developer"))
{
    <div>
        @Html.ActionLink("Tickets", "IndexProject", "Tickets")|
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </div>
}
      </td>
  </tr>
        
    }

</table>
