@model IList<BugTrackerVS_16.Models.Projects>

<style>
    a.my-class {
        color: #ffffff;
    }

        a.my-class:active {
            color: #ffffff;
        }

        a.my-class:link {
            color: #ffffff;
        }

        a.my-class:visited {
            color: #ffffff;
        }
</style>

@{
    ViewBag.Title = "Index";
}
<div class="padding-md">
    <h2>Recruit Projects</h2>
    <p>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Create", "Projects")" class="btn btn-success">Create Project</a>
        }


    </p>
    <table class="table table-striped table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Projects</th>
                <th>Created</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>

                        @Html.DisplayName("Members")

                    </th>
                }
                <th>@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody style="border-color:#000000;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@String.Format("{0:MM/dd/yyyy}",item.Created)</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>

                            @foreach (var users in item.Users)
                            {
                            <p>@users.FirstName</p>
                            }

                        </td>
                    }

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="btn btn-warning">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "my-class" })
                            </div>
                            <div class="btn btn-info">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "my-class" })
                            </div>
                            <div class="btn btn-danger">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "my-class" })
                            </div>
                            <div class="btn btn-primary">
                                @Html.ActionLink("Assign User", "assignusers", new { id = item.Id }, new { @class = "my-class" })
                            </div>
                        }
                        //Project Manager View for all project they assigned to
                        else if (User.IsInRole("ProjectManager"))
                        {
                            <div>
                                @Html.ActionLink("Tickets", "IndexProjects", "Tickets")|
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                                @Html.ActionLink("Assign User", "assignusers", new { id = item.Id })
                            </div>
                        }
                        else if (User.IsInRole("Developer"))
                        {
                            <div>
                                @Html.ActionLink("Tickets", "IndexProjects", "Tickets")|
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </div>
                        }
                        else if (User.IsInRole("Submitter"))
                        {
                            <div>
                                @Html.ActionLink("Tickets", "IndexProjects", "Tickets")|
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--DataTables-->
@section scripts{

    <script>
        $(function () {
            $('#dataTable').dataTable();
        });
    </script>
}
